li{
	display: inline;
	text-align: center;
	font-style: monospace;
	font-size: 25px;
	padding: 10px;

}
a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.navbar{
	background-color: #3D5A80;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}
li:hover{
	/*background-color: #98c1d9;*/
}
a:hover{
	color: whitesmoke;
}
#first{
	margin-left: 10px;
}
.content{
	background-color: #e0fbfc;
}