/* BODY AND NAV */
body {
	background-color: white;
}
#nav_bar {
	position: fixed;
	transform: translateY(0%);
}


/* SIDEBAR */
.sidebar-principles {
	position: fixed;
	display: grid;
	grid-auto-rows: 8.32%;
	width: 15%;
	height: 93vh;
	margin-top: 7vh;
	background-color: #2D3E50;
	/*border-top: 2px solid black;*/
	transform: translateX(-30%);
	z-index: 2;
}

.side-item {
	display: grid;
	align-items: center;
	text-decoration: none;
	color: black;
	font-size: 17px;
	/*width: 150%;*/
	/*margin-right: 50%;*/
	/*padding-left: 50%;*/
	background-color: orange;
	transform: translateX(-50%);
	transition: all ease .3s;
	/*margin-top: 10px;*/
}
.side-item:hover {
	/*width: 120%;*/
	transform: translateX(30%);
	border-radius: 0px 12px 12px 0px;
	/*border: 1px solid #2D3E50;*/
}

.side-item a {
	
	transition: all .3s ease;
}

.side-item a:hover {
	/*color: #b0b0b0;*/
	font-size: 1.1em;
}


/* CONTENT */
.content {
	align-items: auto;
	position: relative;
	/*width: 70%;*/
	margin-left: auto;
	margin-right: auto;
	padding-top: 120px;
	padding-bottom: 80px;
	/*background-color: aqua;*/
}
.content h1 {
	font-size: 50px;
	padding-bottom: 50px;
}
.content h2 {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 10%;
	padding-left: 10%;
	font-size: 32px;
	text-align: left;
}
.content-par {
	padding-bottom: 50px;
	padding-right: 10%;
	padding-left: 10%;
	font-size: 20px;
	text-align: justify;
}
.connector {
	display: block;
	margin-top: 50px;
	margin-bottom: 100px;
}
.next {
	display: inline;
	float: right;
	height: 25px;
	width: 250px;
	margin-right: 15%;
	padding: 10px 0px 10px 0px;
	font-size: 20px;
	line-height: 25px;
	text-decoration: none;
	color: whitesmoke;
	background-color: #2D3E50;
	border: 3px solid #2D3E50;
	border-radius: 50px;
	transition: all ease .4s;
}
.prev {
	display: inline;
	float: left;
	height: 25px;
	width: 250px;
	margin-left: 15%;
	padding: 10px 0px 10px 0px;
	font-size: 20px;
	line-height: 25px;
	text-decoration: none;
	color: whitesmoke;
	background-color: #2D3E50;
	border: 3px solid #2D3E50;
	border-radius: 50px;
	transition: all ease .4s;
}
.next:hover {
	font-size: 23px;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px #2D3E50;
}
.prev:hover {
	font-size: 23px;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px #2D3E50;
}
.to-top {
	position: fixed;
	top: 105vh;
	left: 93%;
	width: 35px;
	height: 35px;
	font-size: 37px;
	font-family: serif;
	text-decoration: none;
	color: #2D3E50;
	border: 2px solid #2D3E50;
	border-radius: 50px;
	/*box-shadow: 0 0 15px -10px #5b7996 inset;*/
	box-shadow: 0 0 10px 2px #5b7996;
	transform: rotateZ(-90deg);
	transition: all ease .6s;
}


/* CARDS */
.cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 120px;
	padding-bottom: 80px;
	padding-right: 15%;
	padding-left: 15%;
	/*z-index: -1;*/
	/*background-color: aqua;*/
}

.card-cont {
	display: flex;
	width: 21%;
	height: 170px;
	margin-bottom: 50px;
	text-decoration: none;
}

.card {
	/*display: flex;*/
	width: 100%;
	height: 170px;
	border: 3px solid #2D3E50;
	border-radius: 15px;
	text-decoration: none;
	text-align: center;
	color: black;
	transition: all ease .4s;
	/*padding: 0px;*/
}
.card:hover {
	border-radius: 90px;
	color: whitesmoke;
	background-color: #2D3E50;
}

.card-title {
	position: relative;
	margin-top: 85px;
	transform: translate(0%, -50%);
	/*z-index: 5;*/
}

/*.test{
	background-image: url("../images/pointer.png");
	background-position: center;
	background-size: cover;
	background-repeat: repeat;
}*/