@font-face {
	src: url(../fonts/MilkyNice.ttf);
	font-family: milk;
}

html {
  scroll-behavior: smooth;
}	

/* body {
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=58768), auto;
} */


* {
	margin: 0;
	padding: 0;
	font-family: milk;
	text-align: center;
	cursor: url(../../images/mouse.cur), auto;
}

/* BODY */
body {
	background-color: black;
}
body::-webkit-scrollbar{
	display: none;
}

/* NAVIGATION */
.nav-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 7vh;
	/*display: flex;*/
	/*align-items: center;*/
	background-color: #2D3E50;
	z-index: 9;
	transform: translateY(-100%);
	transition: transform 0.5s ease;
	user-select: none;
}
.shown {
	transform: translateY(0%);
}
.main-icon {
	width: 20%;
	height: inherit;
	display: grid;
	align-items: center;
	/*margin: 10px;
	margin-left: 30px;*/
	float: left;	
	/*background-color: red;*/
	transition: 0.5s ease;
}
.main-icon:hover {
	color: #2b00ff;
}


.nav-left {
	width: 40%;
	height: inherit;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 25%;
	align-items: center;
	float: left;
	/*background-color: blue;*/
}

.nav-right {
	width: 25%;
	height: inherit;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 33%;
	align-items: center;
	float: right;
	/*background-color: green;*/
}

.nav-cat{
	/*display: flex;*/
	height: inherit;
	width: auto;
	display: grid;
	align-items: center;
	/*align-items: center;*/
	/*background-color: lime;*/
}

.nav-finger{
	position: absolute;
	width: 25px;
	top: -100%;
	transform: rotateZ(200deg);
	transition: all 0.3s ease;
}


/* All Nav Text */
nav a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	transition: all 0.2s ease, transform 0.8s ease;
	vertical-align: center;
}
nav a:hover {
	/*color: #2b00ff;*/
	/*color: #7100bd;*/
	/*font-size: 23px;*/
}

.main-icon a {
	font-size: 25px;
}
.main-icon a:hover {
	font-size: 30px;
}

/* MONTAGE */
.montage-container {
	position: fixed;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: -1;
}
.montage {
	position: fixed;
	/*top: -15px;*/
	top: -3%;
	left: -15px;
	width: 105%;
	filter: brightness(90%);
}

.logo {
	margin-top: 50vh;
	transform: translate(0%, -50%);
	color: whitesmoke;
	font-size: 200px;
	height: 35vh;
	/*background-color: yellow;*/
}


.login {
	/*align-self: center;*/
	background-color: limegreen;
	width: 400px;
	height: 300px;
	margin-left: 50%;
	margin-top: 50vh;
	transform: translate(-50%, -50%);

}	

#page {
	position: relative;
	display: flex;
	align-items: center;
}

.center {
	margin-top: 12.5%;
	/*margin-bottom: 25%;*/
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /*border: 3px solid green;*/
  padding: 10px;
  height: 50vh;
}

/* MAIN DIVS */
.panels{
	margin-top: 40vh;
}
.panel {
	width: 100%;
	height: 680px;
	background-color: white;
}
.left{
	text-align: center;
	height: 680px;
	width: 50%;
	float: left;
	/*background-color: blue;*/
}
.right {
	text-align: center;
	width: 50%;
	height: 680px;
	float: left;
	/*background-color: limegreen;*/
}
.slide{
	position: absolute;
	background-color: #2D3E50;
	z-index: 2;
	width: 200%;
	height: 680px;
	transform: translate(-100%, -100%);
	transition: transform 1.5s ease;
}
.btn-read{
	position: relative;
	display: none;
	top: -50%;
	transform: translateY(-50%);
	padding: 7px 17px 7px 17px;
	color: #2D3E50;
	background-color: transparent;
	font-size: 32px;
	border: 5px solid #2D3E50;
	border-radius: 50px;
}

.panel h1{
	padding: 50px;
}
.panel p{
	font-size: 23px;
	/*width: 500px;*/
	/*background-color: red;*/
}


/*History Panel*/
#historyPanel {
}
#historyPanel img {
	margin-top: 5%;
	margin-left: auto;
}
#historyPanel .right {
	font-family: monospace;
}


/*Styles Panel*/
#stylesPanel, #principalsPanel {
	background-color: whitesmoke;
}
#stylesPanel .left{
	font-family: monospace;	
	/*margin-left: 92px;
	/*padding-left: 92px;*/
	/*margin-top: 100px;*/
}
#stylesPanel img {
	width: 50%;
	margin-top: 17.5%;
	border-radius: 15px;
}

/*Studios Panel*/
#studiosPanel img {
	margin-top: 10%;
}

/*Principals Panel*/
#principalsPanel img {
	margin-top: 15%;
}


/*Footer*/
.footer {
	text-align: flushleft;
	height: 150px;
	background-color: #2D3E50;
}

.column {
	display: block;
	float: left;
	/*color: red;*/
	list-style-type: none;
/*	padding: 200px;
	padding-top: 0px;*/
	width: 33%;
	/*padding-left: 2px;*/
}
.column a{
	display: block;
	text-decoration: none;
	color: grey;
	padding-top: 6.5%;
}
.column a:hover {
	color: darkgrey;
}


/* About Page Css */
.content-about {
	margin: auto;
	margin-top: 5%;
	width: 80%;
	height: 1600px;
	background-color: white;
}
#about-text {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	/* padding-top: 100px; */
	height: 100%;
	
}
#about-text > h1 {
	padding-top: 80px;
	/* padding-left: 20px; */
	/* text-align: left; */
	/* font-family: ProximaNova-Bold,Helvetica,sans-serif!important; */
    font-weight: bold;
	font-size: 3em;
}
#about-text > p {
	font-family: ProximaNova-Bold,Helvetica,sans-serif!important;
	padding-top: 25px;
	/* text-align: left; */
	font-size: 1.5em;
}


/* Sidebar */
*,*:before,*:after {
    box-sizing: border-box;
}

:after {
    content: "";
}
.sidebar {
    float: left;
	position: relative;
    top: 350px;
    transform: translate(0%,-50%);
    left: 0;
	background: transparent;
}

.sidebar ul {
	text-align: center;
    padding-left: 0;
}

.sidebar ul li {
	position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
	background: crimson;
	text-transform: uppercase;
	transition:all .4s ease-out;
}

.sidebar ul li:after {
	position: absolute;
	background: white;
	color: crimson;
	top:0;
	left: 70px
	width: 70px; height: 100%;
    opacity:.5;
    transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s ease-out;
}

.sidebar ul li:hover {
    transform: translateX(-70px);
}

.sidebar ul li:hover:after {
    opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
}
.sidebar ul li div { 
    position: relative; 
}

/*Images and gifs*/
#disney, #dreamworks{
    padding-top: 15.5px;
    width: 70px;
    height: auto;
}
#warnerbros{
    padding-top: 10px;
    width: 70px;
    height: auto;
}
#ghibli{
    padding-top: 15.5px;
    width: 70px;
    height: auto;
}
#pixar{
    padding-top: 30px;
    width: 70px;
    height: auto;
}
#disney_gif {
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    z-index: 2;
    transform-origin: 0 100%;
    transform: rotateY(90deg);
    transition: all .4s ease-out;
}
#warnerbros_gif {
    position: absolute;
    top: 0;
    left: inherit;
    width: inherit;
    height: inherit;
    z-index: 2;
    transform-origin: 0 100%;
    transform: rotateY(90deg);
    transition: all .4s ease-out;
}
#dreamworks_gif {
    position: absolute;
    top: 0;
    left: inherit;
    width: inherit;
    height: inherit;
    z-index: 2;
    transform-origin: 0 100%;
    transform: rotateY(90deg);
    transition: all .4s ease-out;
}
#pixar_gif {
    position: absolute;
    top: 0;
    left: inherit;
    width: inherit;
    height: inherit;
    z-index: 2;
    transform-origin: 0 100%;
    transform: rotateY(90deg);
    transition: all .4s ease-out;
}
#ghibli_gif {
    position: absolute;
    top: 0;
    left: inherit;
    width: inherit;
    height: inherit;
    z-index: 2;
    transform-origin: 0 100%;
    transform: rotateY(90deg);
    transition: all .4s ease-out;
}
.sidebar ul li > div {
	display: inline-block;
	padding: 25px 0;
	background: transparent;
}
/*Studio-Content*/
#content_background{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 350px;
    left: 500px;
    transform: translate(0%, -50%);
/*
    opacity: 40%;
    filter: blur(20px);
*/
    background-color: fuchsia;
    z-index: -1;
}
#studio_content{
    position: absolute;
    top: 350px;
    left: 550px;
    transform: translate(0%, -50%);
}